@media screen and (max-width: 980px) {
    .mainWrapper {
        width: auto;
    }

    .indoSlider .nav_slide {
        display: flex;
    }

    .indoSlider .item_slide {
        display: none;
        width: -webkit-fill-available;
        align-items: start;
    }

    .indoSlider .item_slide.active {
        display: flex;
    }

    .indoRow {
        flex-direction: column;
    }

    .containerWr {
        width: auto;
    }

    .mobileHead {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #757575;
    }

    .mobileHeadBtn {
        width: 44px;
        height: 44px;
        border-radius: 50px;
        border: none;
        outline: none;
        background: #f5f5f5;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        justify-content: center;
    }

    .mobileHeadBtn span {
        width: 60%;
        height: 2px;
        background: #000;
        border-radius: 2px;
        position: relative;
        transition: all .3s ease;
    }

    .logo {
        display: none;
    }

    .navigation {
        flex-direction: column;
        align-items: start;
        background: #1E1E1E;
        position: absolute;
        top: 85px;
        left: 0;
        height: 0;
        width: -webkit-fill-available;
        transition: height .3s linear;
        overflow: hidden;
        border-bottom: 0;
        z-index: 100;
    }

    .navigation.active {
        display: flex;
        height: 100%;
    }

    .navLine1,
    .navLine2 {
        flex-direction: column;
        padding: 20px;
    }

    .mobileHeadBtn.active span:nth-child(2) {
        display: none;
    }

    .mobileHeadBtn.active span:nth-child(1) {
        transform: rotate(45deg);
        top: 3px;
        left: 1px;
    }

    .mobileHeadBtn.active span:nth-child(3) {
        transform: rotate(-45deg);
        top: -3px;
        left: 1px;
    }

    .container {
        padding: 50px 20px;
    }

    .headDesc {
        display: flex;
        flex-direction: column;
    }

    .btn {
        width: -webkit-fill-available;
    }

    .titleM {
        text-align: center;
        font-size: 20px;
    }

    .nav_slide button i {
        display: none;
    }

    .item_slide2 {
        display: none;
    }

    .headDesc {
        gap: 35px;
    }

    .headColSum {
        flex-direction: column;
        text-align: left;
        align-items: start;
        gap: 35px;
    }

    .ourPhWrapper {
        display: flex;
        flex-direction: column;
    }

    .blockQo {
        font-size: 14px;
    }

    .partHomeRow {
        flex-direction: column;
    }

    .concretePlantNum {
        flex-direction: column;
    }

    .formContRow {
        display: flex;
        flex-direction: column;
    }

    .footerRow {
        flex-direction: column;
    }

    .concretePlantRow {
        display: flex;
        flex-direction: column;
    }

    .oneStatRow {
        display: flex;
        flex-direction: column;
    }

    .oneStatRow {
        height: auto;
    }

    .oneStatColImgH {
        height: auto;
    }

    .concretePlantNumCol {
        width: -webkit-fill-available;
    }

    .mainTargetRow {
        flex-direction: column;
    }

    .mainTargetCol {
        width: -webkit-fill-available;
    }

    .mainTeamWrapper {
        display: flex;
        flex-direction: column;
    }

    .mainTeamName {
        font-size: 14px;
    }

    .mainTeamJob {
        font-size: 12px;
    }

    .teamVideo img {
        width: 107px;
    }

    .mainTeam {
        height: auto;
    }

    .teamVideo span {
        width: 34px;
        height: 34px;
    }

    .teamVideo span img {
        width: 13.6px;
    }

    .mainTargetCol {
        min-height: auto;
    }

    .ourProjectsT div {
        font-size: 14px;
    }

    .ourProjectsT {
        position: relative;
        transform: translate(0, 0);
        top: 0px;
        left: 0px;
        margin-left: 20px;
    }

    .ourProjectsT div {
        line-height: 18px;
        width: 50%;
    }

    .ourVideo {
        width: -webkit-fill-available;
    }

    .noBg {
        display: none;
    }

    .ourProjects {
        height: 252px;
        background: url(../img/bgs.png) top left no-repeat;
        background-size: cover;
    }

    .stMain {
        width: 98px;
        height: 98px;
        position: absolute;
        right: -3px;
        top: 0;
    }

    .stMain {
        border-radius: 100px;
        background: #1f1f1f;
        padding: 10px;
    }

    .partHomeRow {
        gap: 45px;
    }

    .oneStatColOrd {
        order: -1;
    }

    .oneStatColImgH {
        display: none;
    }

    .oneStatRow {
        border-radius: 0;
        background: none;
    }

    .oneStatColSd {
        height: 250px;
        position: relative;
    }

    .oneStatColSd::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to top, rgba(30, 30, 30, 0.99), rgba(30, 30, 30, 0.01));
    }

    .concretePlantColPs {
        background: url(../img/factoryImg.png.png) top center no-repeat;
        border-radius: 15px;
        padding: 80px 5px 20px 5px;
    }

    .concretePlantColPs img {
        display: none;
    }

    .concretePlantColPs .blockQo {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .concretePlantColPs .blockQo {
        line-height: 17px;
        font-size: 13px;
        padding: 10px 10px 10px 40px;
        font-weight: 400;
        border-radius: 10px;
    }

    .concretePlantRow .concretePlantCol:nth-child(2) {
        order: -1;
    }

    .concretePlantNumColAr img {
        transform: rotate(90deg);
    }

    .formContColPic .titleM {
        position: relative;
        top: 0;
        left: 0;
        font-size: 16px;
        text-align: left;
    }

    .formBotText {
        display: none;
    }

    .formContColPic img {
        display: none;
    }

    .formContRow {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .formBotPic {
        display: block;
    }

    .formBotPic img {
        border-radius: 40px;
        max-width: 100%;
    }

    .footerNavWr {
        flex-direction: column;
    }

    .containerWr {
        padding: 0 20px 0 20px;
    }

    .footerRow {
        gap: 40px;
    }

    .footerRowMT {
        text-align: center;
        gap: 10px !important;
    }

    .faqColBtn span {
        top: 10px;
        right: -50px;
    }

    .faqRow {
        padding-right: 60px;
    }

    .modalColHd {
        display: none;
    }

    .modalRow {
        display: flex;
        flex-direction: column;
    }

    .modalWrapper {
        width: 90%;
    }

    .formGroupGrid2 {
        display: flex;
        flex-direction: column;
    }

    .modalColPd {
        padding: 25px;
    }

    .formGroupGrid2 {
        gap: 20px 15px;
    }

    .contactsPageRow {
        display: flex;
        flex-direction: column;
    }

    .contactsPageCol {
        width: -webkit-fill-available;
    }

    .contactsPageColAdr div {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .contactsPageAdr {
        width: 75%;
    }

    .partnersPgRow {
        display: flex;
        flex-direction: column;
    }

    .partnersStageRow {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .partnersStageCol {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        align-items: center;
    }

    .partnersStageCol br {
        display: none;
    }

    .topNews {
        display: flex;
        flex-direction: column;
    }

    .topNewsPic {
        order: -1;
    }

    .newsListWrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .topNewsDesc {
        margin-top: -45px;
    }

    .pagination {
        gap: 5px;
        font-size: 14px;
    }

    .singleNews {
        width: -webkit-fill-available;
    }

    .singleNews .topNewsPic {
        order: 0;
    }

    .singleNews .titleM {
        text-align: left;
        font-size: 32px;
    }

    .topNewsPic img {
        width: fit-content;
    }

    .koketitSlide .nav_slide {
        display: flex;
    }

    .container2 {
        width: auto;
    }

    .headAwCol1 {
        order: 1;
    }

    .headAwCol2 {
        flex-direction: column;
    }

    .headPrWrapper::before {
        display: none;
    }

    .secHeadInfo2 {
        margin-top: -40px;
    }

    .headAwCol2Name {
        display: none !important;
    }

    .headAwRow {
        border: 1px solid #303030;
        padding: 20px 10px;
        background: #1E1E1E;
        border-radius: 30px;
    }

    .headPrWrapper::after {
        display: none;
    }

    .headAwCol1 {
        display: flex;
        flex-direction: column;
    }

    .headAwCol1 div {
        font-size: 12px;
    }

    .secHeadInfo2Title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        font-family: "Unbounded", sans-serif;
        font-weight: 600;
        font-size: 20px;
    }

    .headPrWrapper {
        overflow: hidden;
        border-radius: 40px;

    }

    .prHeader {
        max-width: 200%;
    }

    .secAwwa {
        padding: 0 20px;
    }

    .headPrLogo img {
        top: 20px;
        left: 50%;
        width: 86px;
        transform: translate(-50%, 0);
    }

    .headPrBq {
        top: inherit;
        left: 50%;
        bottom: 55px;
        font-size: 10px;
        width: 80%;
        transform: translate(-50%, 0);
    }

    .secPhotoGal {
        margin: 60px 0px;
    }

    .titleMFl {
        flex-direction: column;
        gap: 20px;
    }

    .photoGalWrapperTab {
        flex-direction: column;
    }

    .mSlide img {
        max-width: 100%;
    }

    .awwaSlideWrapper {
        grid-template-columns: 1fr;
    }

    .awwaSlideDots {
        flex-direction: row;
        gap: 5px;
    }

    .koketitRow {
        grid-template-columns: 1fr;
    }

    .koketitRow2 {
        gap: 5px;
        margin: 22px 0 22px 0;
    }

    .slideScale {
        background: none;
    }

    .koketitSlideWr .item_slide {
        border-radius: 40px;
    }

    .koketitSlide .blockQo {
        margin-top: 32px;
        font-size: 12px;
        line-height: 120%;
    }

    .btnPc {
        display: none;
    }

    .btnPc2 {
        display: flex;
    }

    .photoGalWrapper .btn {
        margin-top: 32px;
    }

    .secPlansPrice {
        margin-top: 100px;
    }

    .secKoketit {
        margin-bottom: 60px;
    }

    .headAwCol2 {
        gap: 32px;
    }

    .plansPriceRow {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .plansPriceColVar {
        font-size: 10px;
    }

    .plansPriceCol2 b {
        font-size: 32px;
    }

    .plansPriceRow .btn {
        margin-top: 20px;
    }

    .ribasRow {
        grid-template-columns: 1fr;
    }

    .secRibas {
        margin-top: 100px;
    }

    .ribasCol2 {
        order: -1;
    }

    .ribasRow {
        background: none;
        padding: 0;
        border-radius: 0;
        overflow: inherit;
    }

    .ribasCol5 .btn {
        margin-top: -70px;
        position: relative;
        z-index: 2;
    }

    .ribasCol .titleM {
        text-align: left;
        font-size: 16px;
    }

    .ribasColListWr {
        flex-direction: column;
    }

    .secAwwaMap {
        margin-top: 100px;
    }

    .awwaMapRow {
        grid-template-columns: 1fr;
    }

    .awwaMapCol34 {
        margin-bottom: 20px;
    }

    .secSelPayment {
        margin-top: 100px;
    }

    .selPaymentRow {
        flex-direction: column;
    }

    .selPaymentBq {
        flex-direction: column;
    }

    .sec3Dmodel {
        margin: 100px 0;
    }

    .sec3Dmodel img {
        max-width: 100%;
    }

    .photoGalWrapperBtnPc {
        display: flex;
    }

    .photoGalWrapperBtnPc {
        margin-top: 32px;
    }

    .investMainColTitle {
        display: none;
    }

    .investMainRow {
        flex-direction: column;
        gap: 0;
    }

    .investMainColListN {
        font-size: 118px;
    }

    .secCalculatInves {
        margin-top: 100px;
    }

    .calculatInvesTableCol1,
    .calculatInvesTableCol2,
    .calculatInvesTableCol4 {
        font-size: 14px;
    }

    .calculatInvesTableList {
        font-size: 12px;
    }

    .calculatInvesTableCol6 {
        gap: 10px;
    }

    .calculatInvesTableCol5 div {
        width: auto;
        min-width: auto;
        font-size: 12px;
        text-align: center;
    }

    .calculatInvesTableRow2 .calculatInvesTableList2 {
        gap: 25px;
    }

    .calculatInvesTableList2 div {
        min-width: auto;
    }

    .calculatInvesTableList2 div {
        text-wrap: nowrap;
    }

    .calculatInvesTableList {
        padding: 15px;
    }

    .calculatInvesTableList {
        gap: 35px;
    }

    .calculatInvesTableCol5 div {
        padding: 10px;
    }

    .calculatInvesTableCol7 {
        gap: 15px;
    }

    .calculatInvesTableRow {
        gap: 15px;
    }

    .calculatInvesTableList2 div.active {
        width: auto;
    }

    .secAwwaNews {
        margin: 100px 0;
    }

    .secOurProjects2 {
        margin-bottom: 100px;
    }

    .secAwwaNews .topNews {
        display: none;
    }

    .secAwwaNews .topNews.active {
        display: flex;
    }

    .secAwwaNews .topNewsPic img {
        margin: 0;
    }

    .secAwwaNews .nav_slide {
        display: flex;
    }

    .tabRow2 {
        display: none;
    }

    .tabRow2.active {
        display: flex;
    }

    .ourProjectsRow {
        flex-direction: column;
        gap: 0;
    }

    .ourProjectsColCarousel {
        min-height: auto;
    }

    .ourProjectsCol {
        display: none;
    }

    .ourProjectsCol.active {
        display: flex;
    }

    .ourProjectsColCarouselDots div {
        min-height: auto;
    }

    .ourProjectsColCarouselDots {
        height: auto;
    }

    .ourProjectsColInfo {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .ourProjectsColInfo1 {
        font-size: 24px;
    }

    .secOurProjects100 {
        margin-bottom: 100px;
    }

    /*-----------*/

    .tableWrapper {
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
    }

    .tableDCol2 {
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
    }

    .tableDCol {
        width: -webkit-fill-available;
    }

    .tableDRow4 {
        display: flex;
        justify-content: space-between;
    }

    .tableDRowH {
        background: #2c2c2c;
        font-family: "Unbounded", sans-serif;
        font-weight: 500;
        font-size: 12px !important;
        height: 60px !important;
        width: -webkit-fill-available;
    }

    .tableDRow2n {
        background: #434343;
        font-size: 12px;
        padding: 10px;
        font-family: "Manrope", serif !important;
        font-weight: 400;
        text-align: center;
    }

    .tableDRow3TR {
        text-align: right;
        width: 83px;
    }

    .tableDRow2 {
        width: -webkit-fill-available;
    }

    .tableDRow3 {
        width: -webkit-fill-available;
    }

    .tableDRow3TC {
        text-align: center;
        gap: 5px;
    }

    .tableDRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 48px;
    }

    .tableDRow {
        padding: 10px;
        font-size: 12px;
        border-bottom: 1px solid #383838;
    }

    .tableDRow.active {
        color: #2EAFA3;
        font-weight: 800;
        border-color: #2EAFA3;
    }

    .tableDColwMin {
        min-width: auto;
    }

    .tableDColwMin .tableDRow {
        padding-left: 10px;
    }

    .tableDCollRd {
        border-radius: 24px 0 0 0;
        overflow: hidden;
    }

    .tableDColrRd {
        border-radius: 0 24px 0 0;
        overflow: hidden;
    }

    .tableWrapper48 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tableWrapper48 .tableDRow3TR {
        width: auto;
    }

    .housesMainColSlider .nav_slide {
        display: flex;
    }

    .housesMainColImg {
        display: none;
    }

    .housesMainColImg.active {
        display: block;
    }

    .btnMoonNum img {
        display: none;
    }

    .btnMoonNum {
        font-size: 15px;
    }

    .btnMoonNum span p {
        font-size: 12px;
    }

    .moonSlideBtn {
        gap: 8px;
        justify-content: space-between;
    }

    .housesMainRow {
        display: flex;
        flex-direction: column;
    }

    .housesMainColDesc {
        order: 1;
    }

    .housesMainColD2 i {
        font-size: 32px;
    }

    .housesMainColSlider {
        flex-direction: column;
        gap: 20px;
    }

    .titleMNone {
        display: none;
    }

    .titleMBlock {
        display: block;
    }

    .secHousesMain {
        margin-top: 100px;
    }

    .secHousesMain2 {
        margin-top: 100px;
    }

    .secHousesMain3 {
        margin-top: 100px;
    }

    .housesMainColSlider .nav_slide {
        justify-content: space-between;
        width: -webkit-fill-available;
    }

    .housesMainColDesc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
    }

    .housesMainColD2:nth-last-child(2),
    .btn {
        grid-column: 1 / -1;
    }

    .headPrBqMoon p {
        font-size: 8px;
    }

    .mDots {
        min-height: auto;
    }

    .mDots img {
        min-height: auto;
    }

    .dynamicsGrowthRow2 {
        grid-template-columns: 1fr;
    }

    .dynamicsGrowthChart {
        padding-right: 0;
        gap: 30px;
        max-width: 322px;
        margin: 48px auto 100px auto;
    }

    .chartLine {
        top: 29%;
        left: -12px;
        transform: rotate(-39.8deg);
    }

    .projectConceptGalRow {
        flex-direction: column;
    }

    .projectConceptGalRow {
        margin-top: 0;
    }

    .projectConceptGalCol {
        margin-top: 20px;
    }

    .mt48 {
        margin-top: 100px;
    }

    .homeInvestSlider .nav_slide {
        display: flex;
    }

    .homeInvestSlider .item_slide {
        display: none;
    }

    .homeInvestSlider .item_slide.active {
        display: flex;
    }

    .secHeadInfo2Title {
        text-align: center;
    }

    .headPrWrapperHome {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headAwCol2 div span {
        font-size: 20px;
    }

    .headAwCol2Home div p {
        font-size: 14px;
    }

    .headAwCol1Home .headHWt {
        position: absolute;
        top: -20px;
        right: 50px;
    }

    .mt80 {
        margin-top: 80px;
    }

    .secHomeCalcRow {
        flex-direction: column;
        gap: 10px;
    }

    .calcLabel {
        margin-left: 10px;
    }

    .secHomeCalcColLabel img {
        max-width: 145px;
    }

    .secHomeGetOfferRow {
        grid-template-columns: 1fr;
    }

    .secHomeGetOfferColRow {
        grid-template-columns: 1fr;
    }

    .homeTimeInvestRow {
        grid-template-columns: 1fr;
    }

    .homeTimeInvestRow2 {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .homeTimeInvestRow3 {
        grid-template-columns: 1fr 1fr;
    }

    .invHomeList1 {
        font-size: 12px;
        padding-right: 20px;
    }

    .secHomePBDRow {
        grid-template-columns: 1fr;
    }

    .secHomePBDCol:nth-child(2) {
        order: -1;
    }

    .secHomeSPSCol:nth-child(2) {
        order: -1;
    }

    .secHomePBDRow2 {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .secHomePBDCol2 {
        flex-direction: row;
        align-items: center;
    }

    .secHomeNewsBali .topNews .topNewsDesc {
        position: relative;
    }

    .secHomeNewsBali .topNews .topNewsPic img {
        border-radius: 40px;
    }

    .secHomeSPSRow {
        grid-template-columns: 1fr;
    }

    .secHomeSPSCol img {
        max-width: 100%;
    }

    .secHomeSPSColP {
        left: 20px;
        bottom: 20px;
        padding-right: 20px;
        font-size: 16px;
        line-height: 140%;
    }

    .homeHLogoMb {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -15%);
        display: block;
    }

    .homeHLogoMb img {
        width: 160px;
        position: relative;
        z-index: 2;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
    }

    .tabColBtn4,
    .tabColBtn3,
    .tabColBtn2,
    .tabColBtn {
        font-size: 14px;
    }

    .ourProjectsColInfo2 div:first-child {
        font-size: 14px;
    }

    .ourProjectsColInfo {
        gap: 10px;
    }

    .ourProjectsColCarouselDots div img {
        object-fit: cover;
        min-height: 48px;
        max-width: 100%;
    }

}